---
http_interactions:
- request:
    method: post
    uri: https://b24-iq2a30.bitrix24.com.br/rest/1/onkpa24vwd18zi90/crm.lead.add.json
    body:
      encoding: UTF-8
      string: '{"FIELDS[TITLE]":"Test","FIELDS[TEST_DD]":"VALOR_ADD"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Powered-Cms:
      - Bitrix Site Manager (bc2cad9153cb418bb2dfd5602c3c3754)
      X-Bitrix24-Date:
      - '1734875379'
      X-Bitrix24-User:
      - '0.'
      X-Bitrix-Rest-Time:
      - '0.5674610138'
      X-Bitrix-Rest-User-Time:
      - '0.1389670000'
      X-Bitrix-Rest-System-Time:
      - '0.0202260000'
      X-Bitrix-Ri:
      - 55030da9455a04f46c8b240e52cba03b
      X-Bitrix-Lb:
      - lb-sa-2
    body:
      encoding: ASCII-8BIT
      string: '{"result":23,"time":{"start":1734880502.407645,"finish":1734880503.0026481,"duration":0.59500312805175781,"processing":0.56746101379394531,"date_start":"2024-12-22T18:15:02+03:00","date_finish":"2024-12-22T18:15:03+03:00","operating_reset_at":1734881102,"operating":0.56744599342346191}}'
  recorded_at: Sun, 22 Dec 2024 15:15:03 GMT
recorded_with: VCR 6.3.1
