---
http_interactions:
- request:
    method: post
    uri: https://b24-iq2a30.bitrix24.com.br/rest/1/onkpa24vwd18zi90/crm.lead.add.json
    body:
      encoding: UTF-8
      string: '{"fields":{"TITLE":"Test"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Powered-Cms:
      - Bitrix Site Manager (bc2cad9153cb418bb2dfd5602c3c3754)
      X-Bitrix24-Date:
      - '1734875379'
      X-Bitrix24-User:
      - '0.'
      X-Bitrix-Rest-Time:
      - '0.2560501099'
      X-Bitrix-Rest-User-Time:
      - '0.1132340000'
      X-Bitrix-Rest-System-Time:
      - '0.0277790000'
      X-Bitrix-Ri:
      - 675078d4e5b7582ae0defc710fbd785e
      X-Bitrix-Lb:
      - lb-sa-2
    body:
      encoding: ASCII-8BIT
      string: '{"result":21,"time":{"start":1734878469.3942211,"finish":1734878469.6728921,"duration":0.2786710262298584,"processing":0.25605010986328125,"date_start":"2024-12-22T17:41:09+03:00","date_finish":"2024-12-22T17:41:09+03:00","operating_reset_at":1734879069,"operating":2.3702056407928467}}'
  recorded_at: Sun, 22 Dec 2024 14:41:09 GMT
- request:
    method: post
    uri: https://b24-iq2a30.bitrix24.com.br/rest/1/invalid/crm.lead.add.json
    body:
      encoding: UTF-8
      string: '{"fields":{"TITLE":"Test"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Powered-Cms:
      - Bitrix Site Manager (bc2cad9153cb418bb2dfd5602c3c3754)
      X-Bitrix24-Date:
      - '1734875379'
      X-Bitrix24-User:
      - '0.'
      X-Bitrix-Rest-Time:
      - '0.0000000000'
    body:
      encoding: UTF-8
      string: '{"error":"INVALID_CREDENTIALS","error_description":"Invalid request
        credentials"}'
  recorded_at: Sun, 22 Dec 2024 14:42:46 GMT
- request:
    method: post
    uri: https://b24-iq2a30.bitrix24.com.br/rest/1/invalid/crm.lead.add.json
    body:
      encoding: UTF-8
      string: '{"fields":{"TITLE":"Test"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Powered-Cms:
      - Bitrix Site Manager (bc2cad9153cb418bb2dfd5602c3c3754)
      X-Bitrix24-Date:
      - '1734875379'
      X-Bitrix24-User:
      - '0.'
      X-Bitrix-Rest-Time:
      - '0.0000000000'
    body:
      encoding: UTF-8
      string: '{"error":"INVALID_CREDENTIALS","error_description":"Invalid request
        credentials"}'
  recorded_at: Sun, 22 Dec 2024 14:43:47 GMT
recorded_with: VCR 6.3.1
